@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --header-height: 66px; /* Default height: 50px min-height + 8px top padding + 8px bottom padding */
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: white;
  margin-top: var(--header-height);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* custom text stroke utilities */
.text-stroke {
  -webkit-text-stroke: 0.7px black; /* stroke width and color */
}
.text-stroke-white {
  -webkit-text-stroke: 1px white;
}
